<%= form_with(model: post, local: true) do |f| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-3">
    <%= f.text_field :title, class: "form-control", placeholder: 'Title' %>
  </div>

  <div class="field form-group mb-3">
    <!-- Hidden field to store the content -->
    <%= f.hidden_field :content, id: "post_content" %>
    <!-- Quill editor container -->
    <div id="quill_editor" class="quill_container"></div>
  </div>

  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
